/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Agdasima:wght@400;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #222222;
}

.header {
    & nav {
        text-align: center;
        padding: 15px 0px;
        & a {
            background-color: #FFFFFF;
            padding: 15px 70px 25px;
            color: #222222;
            text-decoration: none;
            font-size: 16px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            margin: 0px 20px;
        }
    }
}

/* HOME PAGE */
/* ABOUT PAGE */
/* SKILLS PAGE */
/* PROJECTS PAGE */
/* CONTACT PAGE */